
*{
    margin:0;
    padding:0;
    text-decoration:none;
    box-sizing:border-box;
}
.nav-bar{
    width:100%;
    position:fixed;
    height:50px;
    z-index:10;
    text-decoration:none;
    display:flex;
    align-items:right;
    justify-content:right;
    padding-top:15px;
    background-color:transparent;
    color: aliceblue;
}


.nav-bar .nav-item{
    padding-right:10px;
    margin-left:10px;
    padding:6px 15px;
    text-decoration:none;
    margin-inline:20px;
    color:white;
    font-family:'Poppins';
    font-weight:400;
    border: 1px solid transparent;
    background-color:transparent;
    border-radius:19px;
    transition:.6s ease;
   
}


.nav-bar .nav-item:hover{
    font-family:'Poppins';
    transform:scale(1.1);
    color:black;
    background-color:white;
}




